

/* tääl on käytännössä vaan roska jota harvemmin muutetaan */

.hp-text {
    color: red;
}

.spd-text {
    color: orange;
}

.ptn-text {
    color: forestgreen;
}



/* jutut yläpalkissa */
.main_header p {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 30px;

    background-color: #669ee8;
    padding: 1rem;
    border-radius: 5px;

}

/* Yläpalkki */
.main_header {
    background-color: #32659B;
    display: flex;
    align-items: center;
    /* tää laittaa tilaa keskelle*/
    justify-content: space-between;
    /* pysyy aina ylhäällä */
    position: sticky;
    /* vähemmän paddingia yläs ja alas */
    padding : 0.1rem 0.5rem;
    z-index: 2000;

}


#artefacts_display {

}

/* backpack_button */
#inv_button {
    background-color: #ffb469;
    border-radius: 5px;
    border: 5px solid #cf9853;
    font-size: 30px;
    padding: 1rem;

}


.hidden {
    display:none;
}

