.intro_body {
    margin: 0;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #669ee8;
    font-family: Arial, sans-serif;
    flex-direction: column;
    gap: 20px;
}

.instructions_text {
    width: 66%;
}

.winning_text {
    width: 66%;
}

#scores {
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    width: 200px;
    padding: 12px;
}

.intro_background {
    width: 500px;
    padding: 12px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
}

.intro_buttons {

    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
}

.intro_button {
    padding: 12px 20px;
    font-size: 30px;
    border-radius: 6px;
    background: #e0e0e0;
}

.intro_button:hover {
    background: #d5d5d5;
}

