<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/flask_testaus/js.js" defer></script>
    <style>
    .hp-text {
        color: red;
    }
    .spd-text {
        color: orange;
    }
    .ptn-text {
        color: forestgreen;
    }
</style>
</head>


<body>
<p id="stats">Money: 1000, time: 365</p>
<!--<form id=method="post">-->
<!--&lt;!&ndash;    <button class="button" name="event" value="0" type="submit">RANDOM EVENTTI!!</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="event" value="1" type="submit">1</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="event" value="2" type="submit">2</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="event" value="3" type="submit">3</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="event" value="4" type="submit">4</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="scores" value="1" type="submit">scores</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="intro_text" value="5" type="submit">intro</button>&ndash;&gt;-->
<!--    -->
<!--</form>-->

<div id="div">

</div>


<!--<p id="eventText"></p>-->
<!--<p id="text"></p>-->

</body>
</html>