<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/flask_testaus/js.js" defer></script>
</head>
<body>
<p id="stats">Money</p>
<form method="post">
    <button class="button" name="event" value="1" type="submit">1</button>
    <button class="button" name="event" value="2" type="submit">2</button>
    <button class="button" name="event" value="3" type="submit">3</button>
    <button class="button" name="event" value="4" type="submit">4</button>
</form>
<p id="text"></p>
</body>
</html>