<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style2_test.css">
    <script src="/flask_testaus/js.js" defer></script>
    <style>
    .hp-text {
        color: red;
    }
    .spd-text {
        color: orange;
    }
    .ptn-text {
        color: forestgreen;
    }
</style>
</head>


<body>
<!--<form id=method="post">-->
<!--&lt;!&ndash;    <button class="button" name="event" value="0" type="submit">RANDOM EVENTTI!!</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="event" value="1" type="submit">1</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="event" value="2" type="submit">2</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="event" value="3" type="submit">3</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="event" value="4" type="submit">4</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="scores" value="1" type="submit">scores</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="button" name="intro_text" value="5" type="submit">intro</button>&ndash;&gt;-->
<!--    -->
<!--</form>-->



    <header class="main_header">
        <!-- raha ja aika samassa vasemmalla, reppunappi oikealla-->
        <nav class="main_nav">
            <p id="money">Money: 1000</p>
            <p id="time">Time: 365</p>
        </nav>
        <button id="backpack_button">Avaa reppu</button>
    </header>

<div id="div">

</div>

<div id="inventory">

    <p id="art">INVENTORY</p>

</div>


<!--<p id="eventText"></p>-->
<!--<p id="text"></p>-->

</body>
</html>