
/* otetaan margin vittuun tästä niin se palkki liimautuu sinne ylös kokonaan */
body {
  margin: 0;
  padding: 0;
}


/* jutut yläpalkissa */
.main_header p {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    background-color: #669ee8;
    padding: 1rem;
}

/* Yläpalkki */
.main_header {
    background-color: #32659B;
    display: flex;
    align-items: center;
    /* tää laittaa tilaa keskelle*/
    justify-content: space-between;
    /* pysyy aina ylhäällä */
    position: sticky;
    /* vähemmän paddingia yläs ja alas */
    padding : 0.1rem 0.5rem 0.1rem 0.5rem;
    z-index: 1000;
}

/* backpack_button */
#backpack_button {
    background-color: hotpink;
    padding : 1rem;
}

/*#boxes {*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-evenly;*/

/*  gap: 1rem;*/
/*}*/
/*#inventory {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-evenly;*/
/*  gap: 1rem;*/
/*}*/

/*.art {*/
/*  width: calc(100% / 3 - 2rem);*/
/*  box-sizing: border-box;*/
/*  cursor: pointer;*/
/*  border: 1px #ccc solid;*/
/*  padding: 1rem;*/
/*  border-radius: 6px;*/
/*  box-shadow: 3px 6px 6px #ccc;*/
/*  transition: all 0.2s ease-in-out;*/
/*    z-index: 5;*/
/*}*/